{% extends "base.html" %}
{% load staticfiles %} 
{% block content %}


    <!-- Needed for the landing page -->
    <meta charset="utf-8">
    <meta name="description" content="Responsive Bootstrap Landing Page Template">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='{% static "landing_page/css/bootstrap.min.css" %}' rel="stylesheet">
    <link rel="stylesheet" href='{% static "landing_page/fonts/font-awesome.min.css" %}' type="text/css" media="screen">
    <link href='{% static "landing_page/css/material.min.css"%}' rel="stylesheet">
    <link href='{% static "landing_page/css/ripples.min.css"%}' rel="stylesheet">
    <link href='{% static "landing_page/css/main.css" %}' rel="stylesheet">
    <link href='{% static "landing_page/css/responsive.css" %}' rel="stylesheet">
    <link href='{% static "landing_page/css/animate.min.css" %}' rel="stylesheet">


  <body>

  	
  	<div class="content-wrap">
     <header class="hero-area" id="home">
      
      <div class="container">
          <div class="col-md-12">

            <div class="navbar navbar-inverse sticky-navigation navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="200">
              <div class="container">
                <div class="navbar-header">
                  <a class="logo-left" href="/"><i class="mdi-image-timelapse"></i>EasySells</a>
                </div>
              </div>
            </div>
        </div>        
        <div class="contents text-right">
          <h1 class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">EasySell - Making Sales Easy Again</h1>
          <p class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">A new way of selling, tracking and analysing sales activity. </p>
          <a href="/register" class="btn btn-lg btn-primary wow fadeInUp" style='background-color:#283593' data-wow-duration="1000ms" data-wow-delay="400ms">Register</a>
          <a href="/login" class="btn btn-lg btn-border wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">Login</a>
        </div>   
    </header>
		

    <script src='{% static "landing_page/js/jquery-2.1.4.min.js"%}'></script>
    <script src='{% static "landing_page/js/bootstrap.min.js"%}'></script>
    <script src='{% static "landing_page/js/ripples.min.js"%}'></script>
    <script src='{% static "landing_page/js/material.min.js"%}'></script>
    <script src='{% static "landing_page/js/wow.js"%}'></script>
    <script src='{% static "landing_page/js/jquery.mmenu.min.all.js"%}'></script> 
    <script src='{% static "landing_page/js/count-to.js"%}'></script>   
    <script src='{% static "landing_page/js/jquery.inview.min.js"%}'></script>     
    <script src='{% static "landing_page/js/main.js"%}'></script>
    <script src='{% static "landing_page/js/classie.js"%}'></script>
    <script src='{% static "landing_page/js/jquery.nav.js"%}'></script>      
    <script src='{% static "landing_page/js/smooth-on-scroll.js"%}'></script>
    <script src='{% static "landing_page/js/smooth-scroll.js"%}'></script>
    

    <script>
        $(document).ready(function() {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
    </script>



{% endblock %}